<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">

       <alternatives>
              <!--class>at.irian.cdiatwork.ideafork.core.impl.converter.JSONConverterJackson</class>
              <class>at.irian.cdiatwork.ideafork.core.impl.converter.XMLConverterJackson</class-->
              <stereotype>at.irian.cdiatwork.ideafork.core.impl.converter.JacksonConverter</stereotype>
       </alternatives>

       <interceptors>
              <class>at.irian.cdiatwork.ideafork.core.impl.monitoring.MonitoredInterceptor</class>
              <class>org.apache.deltaspike.jpa.impl.transaction.TransactionalInterceptor</class>
       </interceptors>

       <decorators>
              <class>at.irian.cdiatwork.ideafork.core.impl.repository.decorator.idea.IdeaRepositoryDecorator</class>
              <class>at.irian.cdiatwork.ideafork.core.impl.repository.decorator.role.UserRepositoryDecorator</class>
              <class>at.irian.cdiatwork.ideafork.core.impl.repository.decorator.change.EntityChangeRepositoryDecorator</class>
       </decorators>

</beans>
